.nav-link{
    padding:10px 25px;
    font-weight: bold;
    margin: 0px 10px;
    
}
.navbar-brand{
    cursor: pointer;
}
.nav-link:hover{
    text-transform: uppercase;
    color: white!important;
    transition: all 0.5s ease-out;

}
.active{
    text-transform: uppercase;


}